.ag-row .ag-cell {
  display: flex;
  align-items: center;
}

.global-btn {
  text-transform: none;
  position: absolute;
  right: 200px;
  top: 18px;
  z-index: 9999;
  opacity: 0.9;
  box-shadow: red;
}

@media (max-width: 480px) {
  .global-btn {
    position: relative;
    z-index: 0;
    top: 0;
    right: 0;
    text-align: right;
    margin-bottom: 20px;
  }
}
